body {
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Hammersmith One', sans-serif;
    
/*    padding-top: 51px;*/
    font-weight: bold;
}

.hidden {
    display: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.red {
    color: red;
}

.img-circle {
    border-radius: 50%;
}

.pointer:hover {
    cursor: pointer;
}

#home-mobile {
    display: none;
}

#home {
    position: relative;
    width: 100%;
}

/*
#title {
    letter-spacing: 2px;
    position: absolute;
    top: 100px;
    left: 5%;
    width: 40%;
    color: rgba(255, 255, 255, 1.0);
    text-align: center;
    font-size: 90px;
    font-weight: 700;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
#title>#subtitle {
    font-size: 55px;
    width: 80%;
    margin: auto;
}
*/



.data-row:nth-child(even) {
    background-color: #f8f8f8;
}

.data-img {
    margin: 10px 0 10px 0;
    border-radius: 15px 0 0 15px;
}

.data-img.odd {
    border-radius: 0 15px 15px 0;
}

.data-row>.content {
    padding: 100px;
    font-size: 2em;
    text-align: center;
    margin: auto;
    vertical-align: middle;
}

@media screen and (max-width: 1024px) {
    .data-img {
        margin: 0px;
        border-radius: 0px;
    }
    .data-img.odd {
        border-radius: 0px;
    }
}

.footer-box {
    margin: 15px auto;
    display: inline-block;
    vertical-align: middle;
}

#footer {
    background-color: #f8f8f8;
    display: inline-block;
    width: 100%;
    margin: auto;
    text-align: ;
    position: relative;
}

#footer-logo {
    max-height: 50px;
}

#footer-copy {
    margin-left: 15px;
    text-align: left;
}


/*
#home {
    background-image: url(../images/building.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 500px;
}
*/

.county-img {
    width: 60%;
    opacity: .9;
    border: 5px solid rgba(255,255,255,0.25);
}

@media screen and (max-width: 1024px) {
    .county-img {
        width: 60%;
    }
}

#counties {
    background-color: #f8f8f8;
}

#navbar {
    opacity: .98;
}

.nav>li {
    font-size: 1.5em;
}

.navbar-brand {
    font-size: 2em;
}

.gis {
    background-image: url(../images/banner5.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#clients_container {
    margin: 40px 0 40px 0;
}

#title, #subtitle {
    text-align: center;
    width: 100%;
    padding: 15px;
    background-color: rgba(255,255,255,0.5);
}

#title {
    margin-top: 50px;
    font-size: 6em;
}

#subtitle {
    margin-top: -10px;
    font-size: 4em;
}

#svgcontainer>svg {
    height: 500px;
}