body {
    font-family: 'PT Sans', sans-serif;
    padding-top: 51px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.red {
    color: red;
}

.img-circle {
    border-radius: 50%;
}

.pointer:hover {
    cursor: pointer;
}

#home-mobile {
    display: none;
}

#home {
    position: relative;
    width: 100%;
}

#home>h2 {
    letter-spacing: 2px;
    position: absolute;
    top: 10px;
    left: 50%;
    width: 40%;
    color: rgba(255, 255, 255, .92);
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

@media screen and (max-width: 1400px) {
    #home>h2 {
        letter-spacing: 2px;
        bottom: 10px;
        left: 55%;
        width: 40%;
        text-align: center;
        font-size: 40px;
        font-weight: 700;
    }
    #home>h2>span {
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    #home>h2> {
    display: none;
    }
    
    #home-mobile {
    display: block;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    text-align: center;
    vertical-align: top;
    padding: 15px;
    font-size: 1.8em;
}
}

.footer-box {
    margin: 15px auto;
    display: inline-block;
    vertical-align: middle;
}

#footer {
    background-color: #f8f8f8;
    display: inline-block;
    width: 100%;
    margin: auto;
    text-align: ;
    position: relative;
}

#footer-logo {
    max-height: 50px;
}

#footer-copy {
    margin-left: 15px;
    text-align: left;
}


/*
#home {
    background-image: url(../images/building.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 500px;
}
*/

.county-img {
    width: 90%;
}

@media screen and (max-width: 1024px) {
    .county-img {
        width: 60%;
    }
}