/*FLOAT*/
.left {
    float: left;
}

.right {
    float: right;
}

/*COLORS*/
.red {
    color: red;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.yellow {
    color: yellow;
}

.purple {
    color: purple;
}

.pink {
    color: pink;
}

.black {
    color: black;
}

.white {
    color: white;
}

.orange {
    color: orange;
}

.gray {
    color: gray;
}


/*DISPLAY*/
.hide {
    display: none;
}

.hidden {
    display: none;
}

.invisible {
    display: none;
}


/*BORDERS*/
div.round {
    border-radius: 5px;
}

img.circle {
    border-radius: 50%;
}

.border {
    border: 2px solid black;
}

/*ALIGN*/
.center {
    text-align: center
}


/*POINTERS*/
.pointer:hover {
    cursor: pointer;
}
.crosshair:hover {
    cursor: crosshair;
}
.grab:hover {
    cursor:grab;
}
.zoom-in:hover {
    cursor:zoom-in;
}
.zoom-out:hover {
    cursor:zoom-out;
}
.move:hover {
    cursor: move;
}
.no-cursor:hover {
    cursor:none;
}
.help:hover {
    cursor: help;
}
.text:hover {
    cursor: text;
}
.wait:hover {
    cursor:wait;
}